{% extends 'login/base.html' %}
{% load static %}

{% block title %} 关于 {% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<div class="about-area about-max pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-xxl-6">
                <div class="about-img about-ml">
                    <img src="../static/picture/33.jpg" alt="About Images">
                </div>
            </div>
            <div class="col-lg-7 col-xxl-6">
                <div class="about-content about-width">
                    <span>关于我们</span>
                    <h2>公司简介</h2>
                    <p>
                        江苏霖承科技有限公司成立于2021年，注册资本1000万元，是一家专注于科技推广和应用服务的高科技企业，
                        总部及研发基地设立于生态宜居城市——海安。公司技术和研发实力成熟。
                    </p>
                    <p>
                        公司自成立以来，始终坚持以人才为本，实施科技创新的经营原则，将国外先进的信息技术、管理方法及企业经验与国
                        内企业新形势下的具体实际情况相结合，为企业提供全方位的解决方案，帮助企业提高管理水平和研发能力，使企业能够
                        在激烈的市场竞争中始终保持竞争力，实现企业快速稳定地发展。
                    </p>
                    <div class="about-btn">
                        <a href="#" class="default-btn">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="client-area pt-100 pb-70">
    <div class="container-fluid p-0">
        <div class="section-title text-center">
            <h2>我们的团队成员</h2>
            <p>
                这是一支高凝聚力的创新团队，专业高效，积极进取。
            </p>
        </div>
        <div class="client-slider owl-carousel owl-theme">
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/lkc.png" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>李柯辰</h3>
                <p>
                    江苏霖承科技有限公司CEO，擅长 C/C+、 Web、Python，主持参与省级创新创业训练计划项目 3 项。“挑战杯”全
                    国大学生课外学术科技作品竞赛省级三等奖，蓝桥杯全国软件和信息技术专业人才大赛省级一等奖，全国三等奖，数学建模省一等奖。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/zpy.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>朱鹏宇</h3>
                <p>
                    信息技术学院计算机19学生，擅长HTML、CSS、JS等Web前端开发和移动应用开发，熟练运用Vue.js框架，ASP.NET脚本语言，
                    各类平台小程序开发。主持参与省级创新创业训练计划2项，认为职业规划是生活学习的必需品。团队中负责前端开发。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/zxy.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>张晓宇</h3>
                <p>
                    信息技术学院大数据20学生，获江苏省创新创业比赛省级立项，参加“某市首届高校网络安全大赛”，获高教社杯全国大学生数学建模竞赛
                    专科组江苏赛区一等奖。具有较强的组织协调能力，较强的团队精神，工作积极进取。团队中负责产品设计与市场调研。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/xxh.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>徐晓涵</h3>
                <p>
                    信息技术技术学院计算机20学生，获蓝桥杯全国软件和信息技术专业人才大赛省一等奖,
                    中国高校计算机大赛——团体程序设计天梯赛一等奖，挑战杯省三等奖，参与省级创新创业训练计划1项。擅长C/C++算法、Python、Django。团队中负责后端开发。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/xww.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>徐雯雯</h3>
                <p>
                    管理学院财务管理18班学生，考取了与本专业相关的初级会计师和初级银行从业资格证书等证书。曾在院内技能大赛获得二等奖名次。
                    积极参加校内外活动参与实践，在暑假期间，有互联网公司和电子商务公司实习经验。团队中负责财务分析与市场调研。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/zmy.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>朱梦雨</h3>
                <p>
                    信息技术学院大数据20学生，擅长C语言，Python，Django框架，负责队内技术研发工作。获中国高校计算机大赛——团体程序设计天梯赛一等奖，
                    蓝桥杯全国软件和信息技术专业人才大赛二等奖，高教社杯全国大学生数学建模竞赛专科组江苏赛区一等奖。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/zy.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>张豫</h3>
                <p>
                    信息技术学院大数据20学生，思维广阔，擅长事物的设计与整合信息，熟悉Django框架，Linux，跨部门沟通，有良好的语言表达能力，曾参与江苏省创新创业比赛省级立项。
                    团队中负责产品上线前的调研与策划，推进产品方案的执行，负责队内产品设计工作，
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/xc.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>徐畅</h3>
                <p>
                    信息技术学院大数据21学生，使用过较多职业规划平台，对职业规划有些了解，语文基础较好，思路清晰，表达能力较强，擅长构思与写作，有较高的文案撰写能力，
                    熟悉职业规划产品的内容部分，对口职业规划产品内容部分的撰写需求，负责队内文案撰写工作。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/lm.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>刘美</h3>
                <p>
                    信息技术学院大数据21级学生，熟悉Linux、python，长期受职业规划教育熏陶，对其有一定了解，肯定职业规划的必要性和长期性，认可终身学习，
                    擅于发现事物的多样性，有较强的团队意识和良好的语言表达能力，负责队内市场调研工作。
                </p>
            </div>
            <div class="client-item">
                <div class="client-item-img" >
                    <img src="../static/image/cy.jpg" alt="Testimonial Images" style="width:80px">
                </div>
                <h3>陈怡</h3>
                <p>
                    信息技术学院计算机应用21班学生，在校期间任职于班上团支书和学院自管会成员。在课余时间学习vue等专业知识并有较为熟练的前端开发经验，
                    积极参与校内外活动，在各种活动配合中寻找团队合作的价值观念。团队中参与研发部的工作。
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

