{% extends 'login/base.html' %}
{% load static %}

{% block title %} 关于 {% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<div class="about-area about-max pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-xxl-6">
                <div class="about-img about-ml">
                    <img src="../static/picture/33.jpg" alt="About Images">
                </div>
            </div>
            <div class="col-lg-7 col-xxl-6">
                <div class="about-content about-width">
                    <span>关于我们</span>
                    <h2>公司简介</h2>
                    <p>
                        江苏霖承科技有限公司成立于2021年，注册资本1000万元，是一家专注于科技推广和应用服务的高科技企业，
                        总部及研发基地设立于生态宜居城市——海安。公司技术和研发实力成熟。
                    </p>
                    <p>
                        公司自成立以来，始终坚持以人才为本，实施科技创新的经营原则，将国外先进的信息技术、管理方法及企业经验与国
                        内企业新形势下的具体实际情况相结合，为企业提供全方位的解决方案，帮助企业提高管理水平和研发能力，使企业能够
                        在激烈的市场竞争中始终保持竞争力，实现企业快速稳定地发展。
                    </p>
                    <div class="about-btn">
                        <a href="#" class="default-btn">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="client-area pt-100 pb-70">
    <div class="container-fluid p-0">
        <div class="section-title text-center">
            <h2>我们的团队成员</h2>
            <p>
                这是一支高凝聚力的创新团队，专业高效，积极进取。
            </p>
        </div>
        <div class="client-slider owl-carousel owl-theme">
            <div class="client-item">
                <h3>李柯辰</h3>
                <p>
                    主持省级大学生创新创业训练计划项目，“挑战杯”全国大学生课外学术科技作品竞赛省级三等奖，
                    蓝桥杯全国软件和信息技术专业人才大赛省级一等奖，全国三等奖，擅长软件工程，c/c++，数据结构与算法。
                </p>
            </div>
            <div class="client-item">
                <h3>朱鹏宇</h3>
                <p>
                    负责前端和微信小程序开发，擅长 HTML5、CSS3、Js、Vue、微信小程序，
                    主持参与省级创新创业训练计划2项。
                </p>
            </div>
            <div class="client-item">
                <h3>张晓宇</h3>
                <p>
                    获江苏省创新创业比赛省级立项，参加“南通市首届高校网络安全大赛”，获高教社杯全国大学生数学建模竞赛专科组江苏赛区一等奖。
                    具有较强的组织协调能力，有较强的团队精神，工作积极进取，态度认真。团队中负责产品设计与市场调研。
                </p>
            </div>
            <div class="client-item">
                <h3>徐晓涵</h3>
                <p>
                    第十二届蓝桥杯全国软件和信息技术专业人才大赛，ACM国际大学生程序设计竞赛，中国大学生程序设计竞赛，
                    第七届中国高校计算机大赛——团体程序设计天梯赛，擅长web前端开发。团队中负责技术。
                </p>
            </div>
            <div class="client-item">
                <h3>徐雯雯</h3>
                <p>
                    考取了初级会计师和初级银行从业资格证书等证书，院内技能大赛获得二等奖名次等。积极参加校内外活动参与实践，
                    在暑假期间，有互联网公司和电子商务公司实习经验。团队中负责财务分析与市场调研。
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

