{% extends 'login/base.html' %}
{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试结果</h3>
            </div>
            <div class="panel-body">
                <p>{{ a }}</p>
                <hr>
                <p>{{ b }}</p>
                <hr>
                <p>{{ c }}</p>
                <hr>
                <p>{{ d }}</p>
                <hr>
                <p>{{ e }}</p>
            </div>
        </div>
    </div>
{% endblock %}