{% extends 'login/base.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试结果</h3>
            </div>
            <div class="panel-body">
<p>1.诚挚、爱说话、合作性高、受　欢迎、光明正大 的-天生的　合作者及活跃的组织成员。</p>
<p>2.重和谐且长于创造和谐。</p>
<p>3.常作对他人有益事务。</p>
<p>4.给予鼓励及称许会有更佳工作成效。</p>
<p>5.最有兴趣于会直接及有形影响人们生活的事务。</p>
<p>6.喜欢与他人共事去精确且准时地完成工作。 </p>

            </div>
        </div>
    </div>
{% endblock %}