{% extends 'login/manage.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试结果</h3>
            </div>
            <div class="panel-body">
<p>1.擅长现场实时解决问题-解决问题者。</p>
<p>2.喜欢办事并乐于其中及过程。</p>
<p>3.倾向于喜好技术事务及运动，交结同好友人。</p>
<p>4.具适应性、容忍度、务实性；投注心力于会很快具　成效工作。</p>
<p>5.不喜欢冗长概念的解释及理论。</p>
<p>6.最专精于可操作、处理、分解或组合的真实事务。</p>

            </div>
        </div>
    </div>
{% endblock %}