{% extends 'login/manage.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试结果</h3>
            </div>
            <div class="panel-body">
<p>1.务实、真实、事实倾向，具企业或技术天份。</p>
<p>2.不喜欢抽象理论；最喜欢学习可立即运用事理。</p>
<p>3.喜好组织与管理活动且专注以最有效率方式行事以达致成效。</p>
<p>4.具决断力、关注细节且很快作出决策-优秀行政者。</p>
<p>5.会忽略他人感受。</p>
<p>6.喜作领导者或企业主管。 </p>

            </div>
        </div>
    </div>
{% endblock %}