{% extends 'login/base.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试结果</h3>
            </div>
            <div class="panel-body">
                <p>1.安静、和善、负责任且有良心。
                <p>2.行事尽责投入。
                <p>3.安定性高，常居项目工作或团体之安定力量。
                <p>4.愿投入、吃苦及力求精确。
                <p>5.兴趣通常不在于科技方面。对细节事务有耐心。
                <p>6.忠诚、考虑周到、知性且会关切他人感受。
                <p>7.致力于创构有序及和谐的工作与家庭环境。
            </div>
        </div>
    </div>
{% endblock %}