{% extends 'login/manage.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试结果</h3>
            </div>
            <div class="panel-body">
<p>1.反应快、聪明、长于多样事务。</p>
<p>2.具激励伙伴、敏捷及直言讳专长。</p>
<p>3.会为了有趣对问题的两面加予争辩。</p>
<p>4.对解决新及挑战性的问题富有策略，但会轻忽或厌烦经常的任务与细节。</p>
<p>5.兴趣多元，易倾向于转移至新生的兴趣。</p>
<p>6.对所想要的会有技巧地找出逻辑的理由。</p>
<p>7.长于看清础他人，有智能去解决新或有挑战的问题 </p>

            </div>
        </div>
    </div>
{% endblock %}